

.frame-border {
    -fx-background-color: #5c5c5c;
}

.button {
    -fx-fit-to-height: true;
    -fx-stroke: white;
    -fx-background-color: rgba(253,95,0, 0.7);
    -fx-background-radius: 0 6 6 0;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.ui-region {
    -fx-background-color: #282820;
}

.search-region {
    -fx-padding: 10 10 10 20;
    -fx-fit-to-height: true;
}


.search-region .label {
    -fx-text-fill: white;
    -fx-label-padding: 0  10  0 0;
    -fx-font-size: 20;
}

.search-region .text-field {
    -fx-fit-to-height: true;
    -fx-background-radius: 6 0 0 6 ;
    -fx-background-color: #52524c;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.misc-region {
    -fx-padding: 10 10 10 0;
}

.misc-region .button {
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-background-radius: 6 6 6 6;
    -fx-background-width: 100;
    -fx-background-color: rgba(253,95,0, 0.7);
}

.api-progress {
    -fx-accent: rgba(253,95,0, 0.7);
}

.choice-region {
    -fx-padding: 10 0 10 0;
}

.choice-box {
    -fx-background-color: #52524c;
    -fx-radius:6;
    -fx-mark-color: white;
    -fx-pref-width: 400;
    -fx-font-size: 16;
}

.choice-box > .label {
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.choice-box .context-menu {
    -fx-background-color: black;
    -fx-pref-width: 400;
}

.choice-box .menu-item {
     -fx-pref-width: 400;
}

.choice-box .menu-item:focused {
    -fx-background-color: #131f43;
}

.choice-box .menu-item > .label {
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-color:white
}


.data-summary-region .tree-cell {
    -fx-background-color: #20201a;
    -fx-text-fill: #E5E5E5;
    -fx-font-size: 14px;
}

.data-summary-region .tree-cell:hover {
    -fx-background-color: #131f43;
}
.data-summary-region .tree-cell:selected {
    -fx-background-color: #203470;
}

.data-summary-region .scroll-bar:horizontal, .data-summary-region  .scroll-bar:vertical{
    -fx-background-color:#2E2E2E;

}

.data-summary-region .scroll-bar:horizontal .thumb, .data-summary-region  .scroll-bar:vertical .thumb{
    -fx-background-color:white;
}

.data-summary-region .scroll-bar:horizontal .track,
.data-summary-region .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.auto-region {
    -fx-alignment:top-left;
}

.auto-region .list-cell {
    -fx-background-color: #20201a;
    -fx-text-fill: #E5E5E5;
    -fx-font-size: 20px;

}

.auto-region .list-cell:hover {
    -fx-background-color: #131f43;
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}

.auto-region .list-cell:selected {
    -fx-background-color: #203470;
}

.auto-region .scroll-bar:horizontal, .auto-region .scroll-bar:vertical,
.auto-region .scroll-bar:horizontal .thumb, .data-summary-region  .scroll-bar:vertical .thumb,
.auto-region .scroll-bar:horizontal .track, auto-region .scroll-bar:vertical .track,
.auto-region .scroll-bar:vertical .increment-arrow,
.auto-region .scroll-bar:vertical .decrement-arrow,
.auto-region .scroll-bar:vertical .increment-button,
.auto-region .scroll-bar:vertical .decrement-button{
    -fx-opacity: 0;
    -fx-scale-x: 0;
    -fx-background-color: transparent;
    -fx-padding:0;
}

.graph-region {
    -fx-font-family: "Lucida Console";
}

.scroll-pane {
    -fx-font-size: 18px;
    -fx-background-color: #2E2E2E;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #cccccc;
    -fx-background-radius: 6em;
}

.graphs {
    -fx-background-color: #20201a;
}

.show-title {
    -fx-alignment: center;
    -fx-font-size: 60px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 0, 0, 0, 0);
}

.graph-region .chart-vertical-grid-lines, .chart-horizontal-grid-lines  {
    -fx-stroke: #3232ff;
    -fx-stroke-dash-array: 1 1 1 1;
}

.graph-region .chart-plot-background {
    -fx-background-color: transparent;
}

.graph-region .axis-label {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.graph-region .chart-title {
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.graph-node {
    -fx-background-color: #f4511e, black; // orange. black
    -fx-background-insets: 0, 2;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 6, 0, 0, 0);
    -fx-background-radius: 20px;
    -fx-background-radius: 30px;
}

.graph-node .label {
    -fx-text-fill: white;
    -fx-padding: 0 0 0 0;
    -fx-effect: none;
}

.trans-node {
    -fx-background-color: transparent, transparent;
}

.chart .default-color0.chart-series-line {
    -fx-stroke-width: 0;
    -fx-stroke: rgba(253,95,0, 0.7);
}

.chart .default-color1.chart-series-line {
    -fx-stroke: rgba(194, 14, 213, 0.5); //neon purple
    -fx-stroke-width: 5;
}

.best-fit-lit {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.7), 2, 0, 0, 0);
}

.pop-vbox {
    -fx-background-color: #20201a;
    -fx-background-radius: 15;
}

.pop-vbox .text-field {
    -fx-text-fill: white;
    -fx-font-size: 22;
}

.pop-text {
    -fx-text-fill: white;
    -fx-padding: 0 5 10 0;
}

.pop-text-link-hover{
    -fx-text-fill: "#89cff0";
    -fx-padding: 0 5 10 0;
}